################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IxianLiteWallet/obj/
/IxianLiteWallet/.vs/IxianLiteWallet/v15
/IxianLiteWallet/bin/
/IxianLiteWallet/packages
/IxianLiteWallet/.vs/