This is all requirements for :


Android PCs :
  
  OS Version : 
  CPU : NO INFORMATIONS 
  GPU : NO INFORMATIONS
  OpenGL : NO INFORMATIONS
  Disk Space Minimum ( for the files + the wallet file ) : NO INFORMATIONS
  RAM : NO INFORMATIONS
  
  
Android Phones :
  
  OS Version : 
  CPU : NO INFORMATIONS
  GPU : NO INFORMATIONS
  OpenGL : NO INFORMATIONS
  Disk Space Minimum ( for the files + the wallet file ) : NO INFORMATIONS
  RAM : NO INFORMATIONS
  
  
Debian PCs :
  
  CPU : Intel  / AMD 
  GPU : Nothing needed
  OpenGL : NO INFORMATIONS
  Disk Space Minimum ( for the files + the wallet file ) : NO INFORMATIONS
  RAM : 1 Go or more
  
  
iOS Phones :
  
  OS Version : 
  CPU : NO INFORMATIONS
  GPU : NO INFORMATIONS
  OpenGL : NO INFORMATIONS
  Disk Space Minimum ( for the files + the wallet file ) : NO INFORMATIONS
  RAM : NO INFORMATIONS
  
  
Linux PCs :
  
  OS Version : 
  CPU : Intel  / AMD 
  GPU : Nothing needed
  OpenGL : OpenGL version 
  Disk Space Minimum ( for the files + the wallet file ) : 100 Mo
  RAM : 1 Go or more
  
  
MAC PCs :
  
  OS Version : 
  CPU : Intel  / AMD 
  GPU : Nothing needed
  OpenGL : OpenGL version 
  Disk Space Minimum ( for the files + the wallet file ) : 100 Mo
  RAM : 1 Go or more
  
  
Ubuntu PCs :
  
  CPU : Intel  / AMD 
  GPU : Nothing needed
  OpenGL : OpenGL version 
  Disk Space Minimum ( for the files + the wallet file ) : 100 Mo
  RAM : 1 Go or more
  
  
Windows PCs :
  
  OS Version : Windows 8 ( minimum )
  CPU : Intel  / AMD 
  GPU : Nothing needed
  OpenGL : OpenGL version 
  Disk Space Minimum ( for the files + the wallet file ) : 100 Mo
  RAM : 1 Go or more
  
  
Windows Phones :
  
  OS Version : 
  CPU : NO INFORMATIONS
  GPU : NO INFORMATIONS
  OpenGL : NO INFORMATIONS
  Disk Space Minimum ( for the files + the wallet file ) : NO INFORMATIONS
  RAM : NO INFORMATIONS
